<app-menu></app-menu>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="nav nav-tabs">
      <!--<li><a href="javascript:void(0)">Hi {{name}}</a></li>-->
    <li class="nav-item"><a class="nav-link" href=#intro>HOME</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/admin']">Admin</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/training']">Training Modules</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/complete']">Completed Trainings</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/current']">Pending Trainings</a></li>
    <li class="nav-item"><a class="nav-link"[routerLink]="['/progress']">Progress</a></li>
    <li class="nav-item"><a class="nav-link"[routerLink]="['/login']" (click)=logout()>LogOut</a></li>
    </ul>
  </nav>
<h1>Angular 2 Tutorial</h1>
<a href="/training/Java/intro">home</a>
<h1 id="intro">Introduction</h1>
<p>Angular 2 is an open source JavaScript framework to build web applications in HTML and JavaScript. This tutorial looks at the various aspects of Angular 2 framework which includes the basics of the framework, the setup of Angular and how to work with the various aspects of the framework. Other topics discussed in the tutorial are advanced chapters such as interfaces, nested components and services within Angular. Topics such as routing, modules, and arrays are also dealt with in this tutorial.</p>
<img src="https://octoperf.com/img/blog/angular2.png">
<a href="/../..Overview">home</a>
<h1 id="intro">Features</h1>
<ul>
<li>AngularJS is a powerful JavaScript based development framework to create RICH Internet Application(RIA).</li>

<li>AngularJS provides developers options to write client side application (using JavaScript) in a clean MVC(Model View Controller) way.</li>

<li>Application written in AngularJS is cross-browser compliant. AngularJS automatically handles JavaScript code suitable for each browser.</li>

<li>AngularJS is open source, completely free, and used by thousands of developers around the world. It is licensed under the Apache License version 2.0.</li>

<li>Overall, AngularJS is a framework to build large scale and high performance web application while keeping them as easy-to-maintain.</li>
