<p>Command Line Interface (CLI) can be used to create our Angular JS application. It also helps in creating a unit and end-to-end tests for the application.</p>

<p>The official site for Angular CLI is https://cli.angular.io/</p>

angular.io
<p>If you click on the Get started option, you will be directed to the github repository for the CLI https://github.com/angular/angular-cli</p>

Angular.cli
<p>Let’s now look at some of the things we can do with Angular CLI.</p>

<h2>Installing CLI</h2>
<p>Note − Please ensure that Python is installed on the system. Python can be downloaded from the site https://www.python.org/</p>

Python
<p>The first step is to install the CLI. We can do this with the following command −</p>

<code>npm install –g angular-cli</code>
<p>Now, create a new folder called angularCLI in any directory and issue the above command.</p>

Angular.cli Directory
<p>Once done, the CLI will be installed.</p>

CLI Installed
<h2>Creating a Project</h2>
<p>Angular JS project can be created using the following command.</p>

<!--Syntax
ng new Project_name
Parameters
Project_name − This is the name of the project which needs to be created.-->

Output
None.

<p>Example
Let’s execute the following command to create a new project.</p>

ng new demo2
<p>It will automatically create the files and start downloading the necessary npm packages.</p>

npm Packages
<p>Now in Visual Studio code, we can open the newly created project.</p>

Newly Created Project
<h2>Running the project</h2>
<p>To run the project, you need to issue the following command −</p>

ng server
ng Server
<p>The default port number for the running application is 4200. You can browse to the port and see the application running.</p>

APP Works