<app-menu></app-menu>
<nav class="navbar navbar-inverse bg-dark navbar-dark">
  <ul class="navbar-nav">
    <!--<li><a href="javascript:void(0)">Hi {{name}}</a></li>-->
    <li class="nav-item"><a class="nav-link" [routerLink]="['/training/Angular2/Angular2']">HOME</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/admin']">Admin</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/training/Angular2/Angular2/Intro']">Modules</a></li>
    <li class="nav-item"><a class="nav-link" (click)=Quiz(this.videodata1[0].name)>Quizzes</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/training/Angular2/Angular2/video']">Videos</a></li>
    <li class="nav-item"><a class="nav-link"[routerLink]="['/training/Angular2/Angular2/files']">Files</a></li>
    <li class="nav-item"><a class="nav-link"[routerLink]="['/login']" (click)=logout()>LogOut</a></li>
  </ul>
</nav>
<h2>Course Contents</h2>
<!--<ul>
  <li><a href="/training/Angular2/Angular2/Intro/overview">Overview</a></li>
  <li><a href="/training/Angular2/Angular2/Intro/environment">Environment</a></li>
  <li><a href="/training/Angular2/Angular2/Intro/modules">Modules</a></li>
</ul>-->
<ul class="navbar-nav">
    <!--<li><a href="javascript:void(0)">Hi {{name}}</a></li>-->
    <li class="nav-item"><a class="nav-link" [routerLink]="['/training/Angular2/Angular2/Intro/overview']">HOME</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/training/Angular2/Angular2/Intro/environment']">Admin</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/training/Angular2/Angular2/Intro/modules']">Modules</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/training/Angular2/Angular2/Intro/architecture']">Achitecture</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/training/Angular2/Angular2/Intro/component']">Component</a></li>
    <li class="nav-item"><a class="nav-link"[routerLink]="['/training/Angular2/Angular2/Intro/directive']">Directive</a></li>
    <li class="nav-item"><a class="nav-link"[routerLink]="['/training/Angular2/Angular2/Intro/errorhandling']">Error Handling</a></li>
    <li class="nav-item"><a class="nav-link"[routerLink]="['/training/Angular2/Angular2/Intro/routing']">Routing</a></li>
    <li class="nav-item"><a class="nav-link"[routerLink]="['/training/Angular2/Angular2/Intro/navigation']">Navigation</a></li>
    <li class="nav-item"><a class="nav-link"[routerLink]="['/training/Angular2/Angular2/Intro/form']">Forms</a></li>
    <li class="nav-item"><a class="nav-link"[routerLink]="['/training/Angular2/Angular2/Intro/userinput']">Angular2 - UserInput</a></li>
    <li class="nav-item"><a class="nav-link"[routerLink]="['/login']" (click)=logout()>LogOut</a></li>
  </ul>


